<?xml version="1.0"?>
<robot name="toteA_large">
  <material name="Blanc">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <link concave="yes" name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="ToteA.L.obj" scale="1.7 1.7 1.1"/>
      </geometry>
      <material name="Blanc"/>
    </visual>
    <collision concave="yes">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	 	     <mesh filename="ToteA.L.Proxy.obj" scale="1.7 1.7 1.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.3608"/>
      <origin xyz="0 0 0.0765" rpy="0 0 0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <contact>
      <lateral_friction value="1.0"/>
    </contact>
  </link>

</robot>
